/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.mainTitle {
  display: inline-flex;
}

.mainTitle > img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.detailedFeatures {
  padding: 40px 0;
}

.detailedFeatures:nth-child(2n+1) {
  background-color: var(--ifm-color-emphasis-100);
}

