name: pub_app
description: A new Flutter project.
publish_to: "none"

environment:
  sdk: ^3.6.0
  flutter: ">=1.17.0"

resolution: workspace

dependencies:
  dio: ^5.1.1
  flutter:
    sdk: flutter
  flutter_hooks: ^0.18.0
  flutter_svg: ^2.0.9
  freezed_annotation: ^3.0.0
  hooks_riverpod: ^2.3.4
  html: ^0.15.0
  json_annotation: ^4.9.0
  pubspec_parse: ^1.2.1
  riverpod_annotation:
  shimmer: ^3.0.0

dev_dependencies:
  build_runner: ^2.0.0
  custom_lint: ^0.7.5
  flutter_test:
    sdk: flutter
  freezed: ^3.0.2
  json_serializable: ^6.3.0
  mockito: ^5.0.0
  riverpod_generator:
  riverpod_lint:
    path: ../../packages/riverpod_lint

flutter:
  uses-material-design: true
  assets:
    - assets/search_background.png
