.toggle {
  padding: "5px 16px";
  transition: "background-color .5s";
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;

  @media (min-width: 996px) {
    padding-right: 100px;
  }

  button {
    background-color: var(--ifm-color-emphasis-400);
  }

  &.checked button {
    background-color: var(--ifm-color-primary);
  }
}
