name: riverpod_lint_flutter_test
publish_to: none

environment:
  sdk: ^3.7.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3+1
  freezed_annotation: ^3.0.0
  hooks_riverpod:
  json_annotation: ^4.9.0
  pubspec_parse: ^1.3.0
  riverpod_annotation:

dev_dependencies:
  analyzer: ">=7.0.0 <9.0.0"
  analyzer_plugin: ^0.13.0
  build_runner: ^2.4.6
  custom_lint: ^0.8.0
  custom_lint_core: ^0.8.0
  flutter_test:
    sdk: flutter
  freezed: ^3.2.0
  glob: ^2.1.2
  json_serializable: ^6.6.1
  path: ^1.9.0
  riverpod_generator:
  riverpod_lint:
  source_span: ^1.10.0
  test: ^1.24.9
