name: riverpod_lint_flutter_test
publish_to: none

environment:
  sdk: ^3.7.0
  flutter: ">=3.0.0"

dependencies:
  riverpod_annotation:
  hooks_riverpod:
  flutter:
    sdk: flutter
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  pubspec_parse: ^1.3.0

dev_dependencies:
  build_runner: ^2.4.6
  freezed: ^3.2.0
  json_serializable: ^6.6.1
  riverpod_generator:
  test: ^1.24.9
  flutter_test:
    sdk: flutter
  glob: ^2.1.2
  analyzer: ">=7.0.0 <9.0.0"
  path: ^1.9.0
  source_span: ^1.10.0
  analyzer_plugin: ^0.13.0
  riverpod_lint:
    path: ../riverpod_lint
  analysis_server_plugin: ^0.3.3
  dart_style: ^3.1.3
