name: riverpod_lint_flutter_test
version: 0.0.0
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  riverpod_annotation: ^1.0.3
  hooks_riverpod: ^2.1.1
  flutter:
    sdk: flutter

dev_dependencies:
  build_runner: any
  build_verify: ^3.0.0
  custom_lint: ^0.0.8
  custom_lint_builder: ^0.0.8
  flutter_test:
    sdk: flutter
  riverpod_lint:
    path: ../riverpod_lint
  riverpod_generator: ^1.0.3

dependency_overrides:
  riverpod_generator:
    path: ../riverpod_generator
  riverpod:
    path: ../riverpod
  flutter_riverpod:
    path: ../flutter_riverpod
  hooks_riverpod:
    path: ../hooks_riverpod
  riverpod_annotation:
    path: ../riverpod_annotation
  