name: riverpod_generator
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  analyzer: ^5.0.0
  build: ^2.0.0
  build_config: ^1.0.0
  collection: ^1.15.0
  crypto: ^3.0.2
  meta: ^1.7.0
  riverpod: ^1.0.3
  riverpod_annotation: ^0.0.0
  source_gen: ^1.2.0
dev_dependencies:
  build_runner: ^2.1.7
  test: ^1.21.0
