name: riverpod_generator
description: A code generator for Riverpod. This both simplifies the syntax empowers it, such as allowing stateful hot-reload.
version: 3.0.0-dev.11
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  analyzer: ">=6.0.0 <7.0.0"
  build: ^2.0.0
  build_config: ^1.0.0
  collection: ^1.15.0
  crypto: ^3.0.2
  meta: ^1.7.0
  path: ^1.8.0
  riverpod_analyzer_utils: ^1.0.0-dev.1
  riverpod_annotation: 3.0.0-dev.3
  source_gen: ^1.2.0

dev_dependencies:
  build_runner: ^2.1.7
  build_verify: ^3.0.0
  freezed: ^2.4.3
  freezed_annotation: ^2.4.1
  riverpod: 3.0.0-dev.3
  test: ^1.21.0
