name: riverpod_generator
description: A code generator for Riverpod. This both simplifies the syntax empowers it, such as allowing stateful hot-reload.
version: 4.0.2
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/
topics:
  - state-management
  - caching
  - dependency-injection
  - riverpod
  - codegen

environment:
  sdk: ^3.7.0

resolution: workspace

dependencies:
  analyzer: ^9.0.0
  analyzer_buffer: ^0.3.0
  build: ">=3.0.0 <5.0.0"
  build_config: ^1.0.0
  collection: ^1.15.0
  crypto: ^3.0.2
  meta: ^1.15.0
  mockito: ^5.4.4
  path: ^1.8.0
  riverpod_analyzer_utils: 1.0.0-dev.9
  riverpod_annotation: 4.0.1
  source_gen: ">=3.0.0 <5.0.0"

dev_dependencies:
  build_runner: ^2.1.7
  build_verify: ^3.0.0
  freezed: ^3.2.0
  freezed_annotation: ^3.0.0
  package_config: ^2.2.0
  riverpod: 3.2.0
  test: ^1.21.0
