name: riverpod_analyzer_utils
description: A project for analyzing Riverpod code. This is internally used by riverpod_lint and riverpod_generator
repository: https://github.com/rrousselGit/river_pod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/
version: 1.0.0-dev.8

environment:
  sdk: ^3.7.0

resolution: workspace

dependencies:
  analyzer: ^9.0.0
  analyzer_buffer: ^0.3.0
  collection: ^1.16.0
  crypto: ^3.0.2
  freezed_annotation: ^3.0.0
  meta: ^1.15.0
  path: ^1.8.0
  source_span: ^1.8.0

dev_dependencies:
  build: ">=3.0.0 <5.0.0"
  build_runner: ^2.3.2
  build_test: ^3.2.1
  freezed: ^3.2.0
  lint_visitor_generator:
  lints: ^6.0.0
  test: ^1.21.7
