name: example
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.6.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod:
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  path: ^1.9.0
  riverpod:
  riverpod_annotation:
  riverpod_sqflite:
  sqflite: ^2.4.1

dev_dependencies:
  build_runner: ^2.4.14
  flutter_test:
    sdk: flutter
  freezed: ^3.1.0
  json_serializable: ^6.9.3
  riverpod_generator:

flutter:
  uses-material-design: true
