name: counter
description: A new Flutter project.

publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  flutter_riverpod:
    path: ../../packages/flutter_riverpod
  freezed_annotation: ^3.0.0
  hooks_riverpod:
    path: ../../packages/hooks_riverpod
  json_annotation: ^4.8.0
  riverpod:
    path: ../../packages/riverpod
  riverpod_annotation:
    path: ../../packages/riverpod_annotation

dev_dependencies:
  build_runner: ^2.3.3
  custom_lint: ^0.7.5
  flutter_test:
    sdk: flutter
  freezed: ^3.0.2
  json_serializable: ^6.6.1
  riverpod_generator:
    path: ../../packages/riverpod_generator
  riverpod_lint:
    path: ../../packages/riverpod_lint

dependency_overrides:
  flutter_riverpod:
    path: ../../packages/flutter_riverpod
  hooks_riverpod:
    path: ../../packages/hooks_riverpod
  riverpod:
    path: ../../packages/riverpod

flutter:
  uses-material-design: true
