name: todos
description: A new Flutter project.
publish_to: "none"

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.2
  hooks_riverpod:
  riverpod:
  uuid: ^4.0.0

dev_dependencies:
  build_runner: ^2.11.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
