.highlight {
  display: flex;
  flex-direction: column;

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: $max-width;
    padding: 2rem;

    @include min-width(lg) {
      grid-template-columns: repeat(3, 1fr);
      padding: 8rem;
    }
  }

  &__illustration {
    height: 180px;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 12px;
  }
}

.features {
  padding-bottom: 40px;

  h2 {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;

    li {
      list-style: none;
    }
  }
}
