.feature {
  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;

    padding: 2rem;

    @include min-width(lg) {
      grid-template-columns: repeat(2, 1fr);
      padding: 11rem;
    }
  }

  &__title {
    font-size: 36px;
  }

  &__description {
    font-size: 18px;
  }
}
