$primary: (
  100: #6dd0f6,
  200: #5dbdea,
  300: #4eabdd,
  400: #3889c4,
  500: #256aac,
  600: #2855a3,
  700: #22427a,
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
