name: hooks_riverpod
description: >
  A simple way to access state from anywhere in your application
  while robust and testable.
version: 2.0.0-dev.9
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.18.0
  flutter_riverpod: 2.0.0-dev.9
  riverpod: 2.0.0-dev.9
  state_notifier: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
