name: hooks_riverpod
description: >
  A reactive caching and data-binding framework.
  Riverpod makes working with asynchronous code a breeze.
version: 3.0.0-dev.16
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ^3.6.0
  flutter: ">=3.0.0"

resolution: workspace

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.0
  flutter_riverpod: 3.0.0-dev.16
  flutter_test:
    sdk: flutter
  riverpod: 3.0.0-dev.16
  state_notifier: ">=0.7.2 <2.0.0"

dev_dependencies:
  mockito: ^5.0.0
  pub_semver: ^2.1.3
  pubspec_parse: ^1.2.1
