name: random_number
description: A new Flutter project.
publish_to: "none"

environment:
  sdk: ^3.7.0

resolution: workspace

dependencies:
  build_runner: ^2.11.0
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  flutter_riverpod:
  mockito: ^5.0.13

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
