name: random_number
description: A new Flutter project.
publish_to: 'none'

environment:
  sdk: ">=2.14.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_riverpod:
  mockito: ^5.0.13
  build_runner: ^2.0.6

dev_dependencies:
  build_verify: ^3.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
