name: riverpod
description: >
  A reactive caching and data-binding framework.
  Riverpod makes working with asynchronous code a breeze.
version: 2.6.1
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  collection: ^1.18.0
  meta: ^1.9.0
  stack_trace: ^1.10.0
  state_notifier: ">=0.7.2 <2.0.0"

dev_dependencies:
  analyzer: ^6.7.0
  expect_error: ^1.0.0
  mockito: ^5.0.0
  test: ^1.16.0
  trotter: ^2.0.0-dev.1
