name: riverpod
description: >
  A simple way to access state from anywhere in your application while robust
  and testable.
version: 2.3.6
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  meta: ^1.4.0
  stack_trace: ^1.10.0
  state_notifier: ^0.7.2

dev_dependencies:
  analyzer: ^4.6.0
  expect_error: ^1.0.0
  mockito: ^5.0.0
  test: ^1.16.0
  trotter: ^2.0.0-dev.1
