name: riverpod
description: >
  A reactive caching and data-binding framework.
  Riverpod makes working with asynchronous code a breeze.
version: 3.0.0-dev.17
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/riverpod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  clock: ^1.1.1
  collection: ^1.18.0
  meta: ^1.15.0
  state_notifier: ">=0.7.2 <2.0.0"
  test: ^1.0.0
  uuid: ^4.5.1

dev_dependencies:
  analyzer: ^7.0.0
  build_runner: ^2.7.0
  expect_error: ^1.0.0
  mockito: ^5.0.0
  path: ^1.9.0
  riverpod_devtool_generator: ^0.0.0
  trotter: ^2.0.0-dev.1
