name: riverpod
description: >
  A simple way to access state from anywhere in your application while robust
  and testable.
version: 2.0.0-dev.0
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod

environment:
  sdk: ">=2.14.0 <3.0.0"

dependencies:
  collection: ^1.15.0
  meta: ^1.3.0
  state_notifier: ^0.7.0

dev_dependencies:
  build_runner: ^2.0.0
  expect_error: ^1.0.0
  freezed: ^0.14.0
  mockito: ^5.0.0
  test: ^1.16.0
  trotter: ^2.0.0-dev.1