name: riverpod_lint
description: Riverpod_lint is a developper tool for users of Riverpod, designed to help stop common issue and simplify repetetive tasks.
version: 1.3.2
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  analyzer: ^5.12.0
  analyzer_plugin: ^0.11.2
  collection: ^1.16.0
  custom_lint_builder: ^0.4.0
  meta: ^1.7.0
  path: ^1.8.1
  riverpod: ^2.3.6
  riverpod_analyzer_utils: ^0.3.1
  source_span: ^1.8.0
  yaml: ^3.1.1

dev_dependencies:
  hotreloader: ^3.0.5
  mockito: ^5.0.0
  test: ^1.21.1
  watcher: ^1.0.1
