name: riverpod_lint
description: Riverpod_lint is a developer tool for users of Riverpod, designed to help stop common issues and simplify repetitive tasks.
version: 3.0.0-dev.18
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/
topics:
  - state-management
  - caching
  - dependency-injection
  - riverpod
  - lints

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  analyzer: ^8.0.0
  analyzer_plugin: ^0.13.0
  collection: ^1.16.0
  custom_lint_builder: ^0.8.0
  meta: ^1.15.0
  path: ^1.8.1
  riverpod: 3.0.0-dev.18
  riverpod_analyzer_utils: 1.0.0-dev.5
  source_span: ^1.8.0
  yaml: ^3.1.1

dev_dependencies:
  mockito: ^5.0.0
  test: ^1.21.1
  watcher: ^1.0.1
