name: riverpod_lint
version: 0.0.1
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod
# temporarily excluded from publishing
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  analyzer: ^4.0.0
  analyzer_plugin: ^0.10.0
  collection: ^1.16.0
  custom_lint_builder: ^0.0.8
  meta: ^1.7.0
  path: ^1.8.1
  riverpod: ^2.1.1
  source_span: ^1.8.0
  yaml: ^3.1.1

dev_dependencies:
  hotreloader: ^3.0.5
  mockito: ^5.0.0
  test: ^1.21.1
  watcher: ^1.0.1
