name: riverpod_lint
description: Riverpod_lint is a developer tool for users of Riverpod, designed to help stop common issues and simplify repetitive tasks.
version: 3.1.3
homepage: https://riverpod.dev
repository: https://github.com/rrousselGit/river_pod
issue_tracker: https://github.com/rrousselGit/riverpod/issues
funding:
  - https://github.com/sponsors/rrousselGit/
topics:
  - state-management
  - caching
  - dependency-injection
  - riverpod
  - lints

environment:
  sdk: ^3.10.0

resolution: workspace

dependencies:
  analysis_server_plugin: ^0.3.8
  analyzer: '>=9.0.0 <11.0.0'
  analyzer_plugin: ^0.14.2
  collection: ^1.16.0
  meta: ^1.15.0
  path: ^1.8.1
  riverpod: 3.2.1
  riverpod_analyzer_utils: 1.0.0-dev.9

  source_span: ^1.8.0
  yaml: ^3.1.1

dev_dependencies:
  mockito: ^5.0.0
  test: ^1.21.1
  watcher: ^1.0.1
