
.banner {
  min-height: calc(100vh - 60px); // Exclude navbar height
}

.logo {
  display: inline;
  > img {
    width: 26px;
    margin-right: 16px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
