.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.mainTitle {
  display: inline-flex;
  > img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
  }
}

.buttons {
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
