.banner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--ifm-hero-background-color);

  @include min-width(lg) {
    flex-direction: row;
    align-items: center;
    padding: 4rem 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
  }

  &__logo {
    display: inline;
    font-size: 28px;
    font-weight: 600;

    @include min-width(lg) {
      margin-top: -64px;
    }

    > img {
      width: 26px;
      margin-right: 16px;
    }
  }

  &__headline {
    font-size: 48px;
  }
}
