@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --ifm-code-font-size: 95%;
  --ifm-heading-font-family: "Inter", sans-serif;
  --ifm-font-family-base: "Inter", sans-serif;
}
