.legend {
  table,
  td,
  tr {
    background: none !important;
    border: none;

    vertical-align: top;
  }

  td:first-child {
    text-align: end;
  }

  tr + tr {
    border-top: solid 0.5px;
  }
}
