name: website_snippets
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  collection: ^1.15.0
  cupertino_icons: ^0.1.3
  flutter:
    sdk: flutter
  flutter_hooks: ^0.18.2
  flutter_riverpod:
    path: ../packages/flutter_riverpod
  hooks_riverpod:
    path: ../packages/hooks_riverpod
  mockito: ^5.0.0
  riverpod:
    path: ../packages/riverpod
  riverpod_annotation:
  shared_preferences: ^2.0.15

dev_dependencies:
  build_runner:
  cosmic_frontmatter:
    path: third-party/cosmic_frontmatter
  flutter_test:
    sdk: flutter
  glob: ^2.1.0
  http: ^0.13.5
  path: ^1.8.1
  riverpod_generator:

dependency_overrides:
  flutter_riverpod:
    path: ../packages/flutter_riverpod
  hooks_riverpod:
    path: ../packages/hooks_riverpod
  riverpod:
    path: ../packages/riverpod
  riverpod_annotation:
    path: ../packages/riverpod_annotation
  riverpod_generator:
    path: ../packages/riverpod_generator

flutter:
  uses-material-design: true