name: website_snippets
publish_to: "none"

environment:
  sdk: ">=2.12.0-0 <3.0.0"

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.18.2
  flutter_riverpod:
    path: ../packages/flutter_riverpod
  hooks_riverpod:
    path: ../packages/hooks_riverpod
  mockito: ^5.0.0
  riverpod:
    path: ../packages/riverpod

dev_dependencies:
  build_verify: ^3.0.0
  flutter_test:
    sdk: flutter

dependency_overrides:
  flutter_riverpod:
    path: ../packages/flutter_riverpod
  hooks_riverpod:
    path: ../packages/hooks_riverpod
  riverpod:
    path: ../packages/riverpod

flutter:
  uses-material-design: true
