name: Build

on:
  push:
  pull_request:
  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        channel:
          - dev
          # - stable

    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}

      - name: Add pub cache bin to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - name: Add pub cache to PATH
        run: echo "PUB_CACHE="$HOME/.pub-cache"" >> $GITHUB_ENV

      - run: dart pub global activate melos

      - name: Install dependencies
        run: melos bootstrap

      - name: Check format
        run: flutter format --set-exit-if-changed .

      - name: Generate (dart)
        run: melos exec --depends-on="build_runner" --no-flutter -- "dart run build_runner build --delete-conflicting-outputs"

      - name: Generate (flutter)
        run: melos exec --depends-on="build_runner" --flutter -- "flutter pub run build_runner build --delete-conflicting-outputs"

      - name: Analyze
        run: melos exec --ignore="marvel" -- "flutter analyze"

      - name: Run tests (flutter)
        run: melos exec --ignore="marvel" -c 1 --flutter -- "flutter test --coverage"

      - name: Run tests (dart)
        run: melos exec -c 1 --no-flutter -- "\$MELOS_ROOT_PATH/scripts/coverage.sh"

      - name: Upload coverage to codecov
        run: curl -s https://codecov.io/bash | bash