name: Riverpod lint tests

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - master
      - dev
    paths-ignore:
      - "**.md"
  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  riverpod_lint:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ matrix.package_path }}

    strategy:
      matrix:
        channel:
          - master
          - stable
        package_path:
          - packages/riverpod_analyzer_utils
          - packages/riverpod_analyzer_utils_tests
          - packages/riverpod_lint
          - packages/riverpod_lint_flutter_test

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2
      - uses: subosito/flutter-action@v2.7.1
        with:
          channel: ${{ matrix.channel }}
      - name: Add pub cache bin to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
      - name: Add pub cache to PATH
        run: echo "PUB_CACHE="$HOME/.pub-cache"" >> $GITHUB_ENV
      - name: Install dependencies
        run: flutter pub get
      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: |
          if test -d "test"; then
            ${{github.workspace}}/scripts/coverage.sh
          fi

      - name: Upload coverage to codecov
        run: |
          if test -d "test"; then
            curl -s https://codecov.io/bash | bash
          fi
